html, body {
    margin: 0%;
    padding: 0px;
    height: 100%;
}

.navlist {
    list-style-type: none;
    background-color: black;
    color: rosybrown;
    margin: 0%;
    height: 100%;
    width: 100%;
    text-align:center;
}

.sidebar {
    background-color: rosybrown;
    text-align: center;
    position: left;
    width: 20%;
    max-width: 170px;
    height: 100%;
    margin: 0%;
}

.navbutton {
    display: block;
    background-color: rosybrown;
    text-align: center;
}